<button class="arrow" (click)="goBack()"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" height="100px" viewBox="0 -960 960 960" width="100px" fill="#1f1f1f"><path d="M258.62-464.62 502-222l-22 22-280-280 280-280 22 22-243.38 242.62H760v30.76H258.62Z"/></svg></button>
<div id="login">
  <h2>Se connecter</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="userName">E-mail ou nom d'utilisateur</label>
      <mat-form-field appearance="outline">
        <input matInput id="userName" formControlName="userName">
        @if(!loginForm.get('userName')?.valid && loginForm.get('userName')?.touched) {
          <mat-error>{{formValidationError.getErrorMessage(loginForm, 'userName')}}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="field">
      <label for="password">Mot de passe</label>
      <mat-form-field appearance="outline">
        <input matInput id="password" type="password" formControlName="password">
        @if(!loginForm.get('password')?.valid && loginForm.get('password')?.touched){
          <mat-error>{{formValidationError.getErrorMessage(loginForm, 'password')}}</mat-error>
        }
      </mat-form-field>
    </div>
    <button id="button" class="login-button" type="submit" mat-raised-button color="primary">Se connecter</button>
    @if(errorMessage) {
      <div class="error">{{errorMessage}}</div>
    }
  </form>
</div>
