<button class="arrow" (click)="goBack()"><svg class="arrow" xmlns="http://www.w3.org/2000/svg" height="100px" viewBox="0 -960 960 960" width="100px" fill="#1f1f1f"><path d="M258.62-464.62 502-222l-22 22-280-280 280-280 22 22-243.38 242.62H760v30.76H258.62Z"/></svg></button>
<div id="new-post">
  <h2>Créer un nouvel article</h2>
  <form [formGroup]="newPostForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="field">
      <mat-label>Selectionner un theme</mat-label>
      <mat-select formControlName="topicId">
        @for (topic of topics$|async; track topic) {
          <mat-option [value]="topic.id">{{topic.title}}</mat-option>
        }
      </mat-select>
      @if(!newPostForm.get('topicId')?.valid && newPostForm.get('topicId')?.touched) {
        <mat-error>{{formValidationError.getErrorMessage(newPostForm, 'topicId')}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Titre de l'article</mat-label>
      <input matInput formControlName="title">
      @if(!newPostForm.get('title')?.valid && newPostForm.get('title')?.touched) {
        <mat-error>{{formValidationError.getErrorMessage(newPostForm, 'title')}}</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contenu de l'article</mat-label>
      <textarea rows="5" matInput formControlName="content"></textarea>
      @if(!newPostForm.get('content')?.valid && newPostForm.get('content')?.touched) {
        <mat-error>{{formValidationError.getErrorMessage(newPostForm, 'content')}}</mat-error>
      }
    </mat-form-field>
    <div class="button-container">
      <button type="submit" mat-raised-button color="primary">Créer</button>
    </div>

  </form>
</div>
