<div id="register">
  <h2> Inscription</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="userName">Nom d'utilisateur</label>
      <mat-form-field appearance="outline">
        <input matInput id="userName" formControlName="userName">
        <mat-error class="text-danger" *ngIf="registerForm.get('userName')?.hasError('required') && registerForm.get('userName')?.touched">erreur</mat-error>
      </mat-form-field>
    </div>
    <div class="field">
      <label for="email">Email</label>
      <mat-form-field appearance="outline">
        <input matInput id="email" type="email" formControlName="email">
      </mat-form-field>
    </div>
    <div class="field">
      <label for="password">Mot de passe</label>
      <mat-form-field appearance="outline">
        <input matInput id="password" type="password" formControlName="password">
      </mat-form-field>
    </div>
    <button id="button" type="submit" mat-raised-button color="primary">S'inscrire</button>
  </form>
</div>
