/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --mdc-theme-primary: #7763C5;
  --mdc-theme-on-primary: white;
}

.mat-mdc-raised-button {
  background-color: var(--mdc-theme-primary) !important;
  color: var(--mdc-theme-on-primary) !important;
}
